.newscontainer {
    display: flex;  
    flex-flow: row wrap;
}

.navigation {
    margin-bottom: 24px;
}

.newscontainer > .newspanel {
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .newscontainer > aside { flex: 1 0 20px; }
}

@media all and (min-width: 800px) {
    .newscontainer > .newspanel    { flex: 3 auto; }
    .newscontainer > .aside-1      { order: 1; } 
    .newscontainer > .newspanel    { order: 2; }
    .newscontainer > .aside-2      { order: 3; }
}