.newscontainer {
    display: flex;  
    flex-flow: row wrap;
}

.newscontainer > nav {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    aside { flex: 1 auto; }
}
  
@media all and (min-width: 800px) {
    .newspanel    { flex: 9 0px; }
    .aside-1 { order: 1; } 
    .newspanel    { order: 2; }
    .aside-2 { order: 3; }
}