<nav>
  <a class="button" routerLink="/newslist" [queryParams]="{ type: 'newest'}">News</a> |
  <a class="button" routerLink="/newslist" [queryParams]="{ type: 'top'}">Top</a> |
  <a class="button" routerLink="/newslist" [queryParams]="{ type: 'best'}">Best</a> |
  <a class="button" routerLink="/newslist" [queryParams]="{ type: 'ask'}">Ask</a> |
  <a class="button" routerLink="/newslist" [queryParams]="{ type: 'show'}">Show</a>
</nav>

<div class="newspanel">
  <router-outlet></router-outlet>
</div>

