<nav>
  <a class="button titleLink" routerLink="/newslist" [queryParams]="{ type: 'top'}">Top</a> |
  <a class="button titleLink" routerLink="/newslist" [queryParams]="{ type: 'newest'}">New</a> |
  <a class="button titleLink" routerLink="/newslist" [queryParams]="{ type: 'best'}">Best</a> |
  <a class="button titleLink" routerLink="/newslist" [queryParams]="{ type: 'ask'}">Ask</a> |
  <a class="button titleLink" routerLink="/newslist" [queryParams]="{ type: 'show'}">Show</a>
</nav>

<section class="newspanel">
  <router-outlet></router-outlet>
</section>
