<div class="stpanel" *ngIf="story">
    <div class="sttitle">
        <span [innerHTML]="story.title"></span>
        <ng-template [ngIf]="story.url">
            <span> | </span>
            <a href="{{story.url}}">{{getDomain(story.url)}}</a>
        </ng-template>
    </div>
    <ul class="stsubtitle">
        <li>{{story.score > 1 ? story.score + ' points' : story.score + ' point'}} </li>
        <li>by <span class="underline link">{{story.by}}</span></li>
        <li>{{story.time | timeAgo }}</li>
        <li class="underline link" (click)="gotoDiscuss(story.id)">Discuss</li>
    </ul>
</div>