<div class="commpanel">
    <div class="commhead">
        <a class="commupvote">▲</a>
        <span class="commby link">{{storyComment.by}}</span>
        <span class="commage">{{storyComment.time | timeAge}}</span>
        <a class="button" class="commhide link" (click)="onClickHide()">{{ subAmount | hideComment: hidden }}</a>
    </div>
    <div [hidden]="hidden">
        <p class="commtext" [innerHtml]="storyComment.text"></p>
        <a class="button" class="commreply link" (click)="onReply()">reply</a>
        <app-news-add-comment [hidden]="commentHidden" (onCommentTextChanged)="onAddComment($event)">
            <a class="button" class="commreply link" (click)="onReply()">cancel</a>
        </app-news-add-comment>
        <ng-content></ng-content>
    </div>
</div>