<div class="stpanel" *ngIf="story">
    <div class="sttitle">
        <a appNewsTitle [news]="story">
            <span [innerHTML]="story.title"></span>
        </a>
        <ng-template [ngIf]="story.url">
            <span> | </span>
            <span class="link">{{story.url | extractDomain}}</span>
        </ng-template>
    </div>
    <ul class="stsubtitle">
        <li>{{ story.score | formatPoint }}</li>
        <li>by <span class="link">{{story.by}}</span></li>
        <li>{{story.time | timeAge }}</li>
        <li class="link" (click)="gotoDiscuss(story.id)">{{ story.descendants | formatComment }}</li>
    </ul>
</div>