<div class="stpanel" *ngIf="story">
    <div class="sttitle">
        <a class="titleLink" appNewsTitle [news]="story">
            <span [innerHTML]="story.title"></span>
        </a>
        <ng-template [ngIf]="story.url">
            <span> | </span>
            <span class="link">{{story.url | extractDomain}}</span>
        </ng-template>
    </div>
    <ul class="stsubtitle">
        <li>{{ story.score | formatPoint }}</li>
        <li>by <span class="link">{{story.by}}</span></li>
        <li>{{story.time | timeAge }}</li>
        <li>
            <a class="link" routerLink="/newsdiscuss/{{story.id}}">{{ story.descendants | formatComment }}</a>
        </li>
    </ul>
</div>