/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link, .titleLink {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.link {
    font-size: 11px;
}

.link:hover, .titleLink:hover {
    text-decoration: underline;
}

.link:visited, .titleLink:visited {
    color: #828282;
}